body {
  font-family: Roboto, sans-serif;
}
.ant-menu-dark{
  background-color: #F3EDC8 !important;
}
.ant-layout-sider{
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
  background-color: #F3EDC8 !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
  background-color: #F3EDC8 !important;
}
.sm-logo{
  display: none;
}
.ant-layout-sider-collapsed .sm-logo{
  display: block;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}
.ant-menu-item-selected{
  background-color: #7D0A0A !important;
}
.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline{
  background-color: #F3EDC8 !important;
}
.ant-menu-item-icon{
  color: black !important;
}
.ant-menu-title-content{
  font-size: larger !important;
  color: black !important;
}
.ant-layout{
  min-height: 100vh;
}
.ant-table-content{
  height: 80vh;
  border: 1px solid #dee2e6;
  border-radius: 2%;
}
.ant-pagination .ant-pagination-item-active{
  border-color: #7D0A0A;
}
main{
  overflow-y: scroll;
  height: 82vh;
  background-color: transparent !important;
}
main::-webkit-scrollbar{
  width: 0px !important;
}
.logo{
  background-color: #7D0A0A !important;
}
.dropdown{
  margin-top: 18px !important;
}
.dropdown li{
  line-height: 35px !important;
}
.dropdown a{
  text-decoration: none;
  color: black !important;
}
.namail{
  line-height: 0px;
}
.namail h5{
  font-size: 14px;
}
.namail p{
  font-size: 12px;
}
.ant-layout-header div .badge{
  top: 16px;
  right: -6px;
}
.ant-btn{
  height: 45px !important;
}
.error{
  color: red;
  font-size: 14px;
}